benchmarks/results
test-output/
TODO
!/.gitignore
!/.scalafmt.conf
.tags*
.idea*
.vscode*
*.log
.DS_Store
target/
/.lib/
.classpath
TAGS
.tags
.metals
.bloop
site/Gemfile.lock
*/*.iml
.metals/
metals.sbt
*.swp
project/boot/
project/plugins/project/
project/target/
project/metals.sbt
project/prooject/metals.sbt
